<section class="content">
  lsdkf;lskdfl;ksd
<!--   <% @posts.each do |post| %>
    <article>
      <h1><%= post.title %></h1>
      <%= post.content %>
    </article>
  <% end %> -->
</section>
<!-- <a href="/blogs/create_blog">Post new blog</a> -->
