<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

<<<<<<< HEAD
  <title>Blogger's Anonymouse</title>
=======
  <title>Blogger's Anonymous</title>
>>>>>>> d35a3a12c6278a68cae0c5a4f474ea377413cc95
</head>
<body>
  <header>
    <div id='title'><a href='/'>Blogger's Anonymous</a></div>


  </header>
  <nav>
     <li><a href="https://github.com/SamSamskies/blog_exercise"><img src="/github.png"></a></li>
     <li><a href='/blogs/create_blog'>Post</a><li>
  </nav>
  <%= yield %>
  <footer>
     Created by @SamSamskies DEVBOOTCAMP 2013 week 4 day 4 project
  </footer>
</body>
</html>
